<ng-container *ngFor="let banner of banners">
  <a
    *ngIf="!isDismissed(banner.side)"
    [routerLink]="banner.link"
    class="fsb fsb--{{ banner.side }}"
    [attr.aria-label]="banner.badge + ' - ' + banner.title">

    <img class="fsb__image" [src]="banner.image" [alt]="banner.title" loading="lazy">
    <span class="fsb__shade" aria-hidden="true"></span>

    <button
      type="button"
      class="fsb__close"
      [attr.aria-label]="'Đóng banner ' + banner.badge"
      (click)="dismiss(banner.side, $event)">
      <app-icon name="x" [size]="12"></app-icon>
    </button>

    <span class="fsb__content">
      <span class="fsb__badge">{{ banner.badge }}</span>
      <span class="fsb__title">{{ banner.title }}</span>
      <span class="fsb__cta">{{ banner.ctaLabel }}</span>
    </span>
  </a>
</ng-container>
