<section class="pg_section">
  <div class="pg_row">
    <a
      *ngFor="let banner of squareBanners"
      [routerLink]="banner.link"
      class="pg_square"
      [style.background]="banner.gradient">
      <div class="pg_square__icon">
        <app-icon [name]="banner.icon" [size]="26"></app-icon>
      </div>
      <span class="pg_eyebrow">{{ banner.eyebrow }}</span>
      <h3 class="pg_title">{{ banner.title }}</h3>
      <p class="pg_desc">{{ banner.description }}</p>
      <span class="pg_cta">{{ banner.ctaLabel }} <app-icon name="chevron-right" [size]="14"></app-icon></span>
    </a>
  </div>

  <a
    [routerLink]="wideBanner.link"
    class="pg_wide"
    [style.background]="wideBanner.gradient">
    <div class="pg_wide__text">
      <span class="pg_eyebrow">{{ wideBanner.eyebrow }}</span>
      <h3 class="pg_title pg_title--wide">{{ wideBanner.title }}</h3>
      <p class="pg_desc">{{ wideBanner.description }}</p>
      <span class="pg_cta">{{ wideBanner.ctaLabel }} <app-icon name="chevron-right" [size]="14"></app-icon></span>
    </div>
    <div class="pg_wide__icon">
      <app-icon [name]="wideBanner.icon" [size]="120"></app-icon>
    </div>
  </a>
</section>
